.homeContainer{
    padding-top: 50px;
    background-color: rgba(254, 244, 232, 0.41);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.hometTitle{
    width: 1024px;
    font-size: 20px;
}